.main {
    /* border: 2px solid white; */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

.logo {
    width: 30%;
    height: auto;
    margin-top: 3%;
}

.nameLogo {
    width: 30%;
    height: auto;
    margin-top: 5px;
}

.bottomLinks {
    position: absolute;
    bottom: 5px;
    margin-top: 5px;
}

.bottomIcon {
    display: inline;

    width: 10%;
    height: auto;
    margin: 4px;
    opacity: 0.75;
    cursor: pointer;
}

.bottomIcon:hover {

    opacity: 1;
}


@media screen and (max-width: 600px) {
    .logo {
        margin: 10% 0;
        width: 70%;
    }



}

.registerbuttons {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
}