.main {
    /* border: 2px solid white; */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.section {
    background-color: rgba(29, 28, 28, 0.7);
    width: 75%;
    margin: 5% 0;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 5%;
}


.subSection {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 4%;
}

.heading {
    color: white;
    /* text-decoration: underline; */
    margin: 5% 0;
}

.cardElements {
    color: white;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: left;
}

.cardStyles {
    display: flex;
    flex-direction: row;
    width: 80%;
    background: none;
    border: none;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 10%;
}


.button {
    width: 40%;
    background: none;
    border: 2px solid white;
}


.logo {
width: 25%;
    height: 200px;
    margin: auto;
    background-color: rgba(29, 28, 28, 0.7);
}

.desc {
    color: black;
    margin: 0 8%;
    margin-top: 5%;
    margin-bottom: 7%;
    font-size: larger;
    text-align: justify;
}


.bottomLinks {
    /* position: absolute; */
    margin-bottom: 5px;
}


.bottomIcon:hover {

    opacity: 1;
}




.bottomIcon {
    display: inline;

    width: 10%;
    height: auto;
    margin: 4px;
    opacity: 0.75;
    cursor: pointer;
}


@media screen and (min-width: 800px) {
    .logo {
        max-width: 25%;
    }

}


@media screen and (max-width: 600px) {

    .logo {
        min-width: 40%;
    }

    .nameLogo {
        width: 35%
    }

    .desc {
        font-size: small;
    }


    .section {
        width: 90%;
    }

}